#services {
    .box {
        font-size: 1.8rem;
        background: #fff;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        border: var(--border);
        padding: 2.5rem;
    }
    .box i {
        color: var(--green);
        font-size: 5rem;
    }
    .box h3 {
        color: var(--black);
        font-size: 2.5rem;
        padding: 1rem 0;
    }
    .box p {
        color: var(--light-color);
        font-size: 1.5rem;
        line-height: 1.5;
    }
}